In [10]:
import pandas as pd

In [11]:
df= pd.read_excel('data/서울시_고등학교수.xlsx')
df.head()

     구  고등학교수
0  강남구     22
1  강동구     14
2  강북구      7
3  강서구     23
4  관악구     17

In [12]:
a=pd.read_excel('data/서울시_학교정보.xlsx')

In [13]:
a = a.drop(columns=['Unnamed: 3', 'Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 14'], axis=1)

In [14]:
a

,교육청,구,학교명,학급수,학생수,학급당평균학생수,교원수
0,서울시,강남구,국립국악고등학교,15.0,442.0,29.466667,47.0
1,서울시,금천구,국립전통예술고등학교,18.0,525.0,29.166667,44.0
2,서울시,성북구,서울대학교사범대학부설고등학교,27.0,763.0,28.259259,71.0
3,서울시,송파구,가락고등학교,33.0,832.0,25.212121,77.0
4,서울시,서대문구,가재울고등학교,27.0,693.0,25.666667,65.0
...,...,...,...,...,...,...,...
317,서울시,중구,환일고등학교,30.0,762.0,25.400000,69.0
318,서울시,동대문구,휘경여자고등학교,33.0,851.0,25.787879,71.0
319,서울시,강남구,휘문고등학교,42.0,1319.0,31.404762,78.0
320,"* 교원수: 재직, 휴직, 파견 포함. 기간제는 4. 1현재 재직 중 교원 모두 포함",NaN,NaN,NaN,NaN,NaN,NaN
321,* 학급당 학생수: 학생수 계/학급 계,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
a.iloc[0:320]

     교육청     구              학교명   학급수     학생수   학급당평균학생수   교원수
0    서울시   강남구         국립국악고등학교  15.0   442.0  29.466667  47.0
1    서울시   금천구       국립전통예술고등학교  18.0   525.0  29.166667  44.0
2    서울시   성북구  서울대학교사범대학부설고등학교  27.0   763.0  28.259259  71.0
3    서울시   송파구           가락고등학교  33.0   832.0  25.212121  77.0
4    서울시  서대문구          가재울고등학교  27.0   693.0  25.666667  65.0
..   ...   ...              ...   ...     ...        ...   ...
315  서울시   강서구           화곡고등학교  30.0   838.0  27.933333  63.0
316  서울시   강서구       화곡보건경영고등학교  24.0   486.0  20.250000  51.0
317  서울시    중구           환일고등학교  30.0   762.0  25.400000  69.0
318  서울시  동대문구         휘경여자고등학교  33.0   851.0  25.787879  71.0
319  서울시   강남구           휘문고등학교  42.0  1319.0  31.404762  78.0

[320 rows x 7 columns]

In [16]:
a1=a.groupby('구').sum()
a1.head()

       학급수      학생수    학급당평균학생수     교원수
구
강남구  725.0  18514.0  550.247551  1647.0
강동구  456.0  11256.0  341.822669   994.0
강북구  214.0   5542.0  179.040942   466.0
강서구  644.0  16016.0  566.218160  1416.0
관악구  410.0   9676.0  401.322796   931.0

In [17]:
new_df=pd.merge(df,a1,on='구',how='inner')
new_df

       구  고등학교수    학급수      학생수    학급당평균학생수     교원수
0    강남구     22  725.0  18514.0  550.247551  1647.0
1    강동구     14  456.0  11256.0  341.822669   994.0
2    강북구      7  214.0   5542.0  179.040942   466.0
3    강서구     23  644.0  16016.0  566.218160  1416.0
4    관악구     17  410.0   9676.0  401.322796   931.0
5    광진구      9  287.0   7641.0  240.424788   606.0
6    구로구     14  377.0   9634.0  354.198128   870.0
7    금천구      6  182.0   4292.0  143.583333   413.0
8    노원구     25  853.0  21313.0  621.619231  1957.0
9    도봉구     10  298.0   6954.0  226.237731   654.0
10  동대문구     11  303.0   7349.0  263.552896   692.0
11   동작구      7  237.0   6165.0  182.619192   559.0
12   마포구      9  229.0   6161.0  241.392647   521.0
13  서대문구      7  204.0   5429.0  179.723249   485.0
14   서초구     11  385.0  10363.0  290.972491   892.0
15   성동구      9  245.0   5246.0  189.166265   589.0
16   성북구     13  348.0   8732.0  318.502530   816.0
17   송파구     19  618.0  15361.0  475.988532  1394.0
18   양천구     15  497.0  13025.0  388.621771  1070.0
19  영등포구      9  260.0   6145.0  212.112449   602.0
20   용산구     10  262.0   5996.0  224.854597   605.0
21   은평구     18  514.0  13212.0  453.426132  1170.0
22   종로구     14  364.0   9046.0  338.434892   880.0
23    중구     11  287.0   7058.0  264.851323   676.0
24   중랑구     10  279.0   6563.0  235.944925   614.0

In [77]:
new_df.corr()

             고등학교수       학급수       학생수  학급당평균학생수       교원수
고등학교수     1.000000  0.967153  0.954684  0.994591  0.967598
학급수       0.967153  1.000000  0.996032  0.973809  0.997655
학생수       0.954684  0.996032  1.000000  0.970153  0.992863
학급당평균학생수  0.994591  0.973809  0.970153  1.000000  0.972675
교원수       0.967598  0.997655  0.992863  0.972675  1.000000

In [25]:
academy = pd. read_csv('data/구별_학원수.txt',sep = "\t")
academy

      기간   자치구 초·중·고 학생수   사설학원수  학생1만명당 사설학원수
0   2020    합계   840,933  13,992         166.4
1   2020   종로구    16,452     243         147.7
2   2020    중구    13,566     109          80.3
3   2020   용산구    15,852     154          97.1
4   2020   성동구    20,447     289         141.3
5   2020   광진구    28,972     405         139.8
6   2020  동대문구    26,533     350         131.9
7   2020   중랑구    27,353     262          95.8
8   2020   성북구    37,884     439         115.9
9   2020   강북구    21,398     206          96.3
10  2020   도봉구    27,661     297         107.4
11  2020   노원구    61,078     718         117.6
12  2020   은평구    43,300     519         119.9
13  2020  서대문구    24,144     348         144.1
14  2020   마포구    27,821     689         247.7
15  2020   양천구    52,115   1,008         193.4
16  2020   강서구    51,758     694         134.1
17  2020   구로구    35,384     394         111.3
18  2020   금천구    16,497     212         128.5
19  2020  영등포구    25,331     445         175.7
20  2020   동작구    29,160     471         161.5
21  2020   관악구    30,710     431         140.3
22  2020   서초구    43,580   1,148         263.4
23  2020   강남구    59,344   2,361         397.8
24  2020   송파구    62,219   1,076         172.9
25  2020   강동구    42,374     724         170.9

In [26]:
academy=academy.drop(['기간','초·중·고 학생수','학생1만명당 사설학원수'],axis=1)
academy.iloc[1:]

     자치구  사설학원수
1    종로구    243
2     중구    109
3    용산구    154
4    성동구    289
5    광진구    405
6   동대문구    350
7    중랑구    262
8    성북구    439
9    강북구    206
10   도봉구    297
11   노원구    718
12   은평구    519
13  서대문구    348
14   마포구    689
15   양천구  1,008
16   강서구    694
17   구로구    394
18   금천구    212
19  영등포구    445
20   동작구    471
21   관악구    431
22   서초구  1,148
23   강남구  2,361
24   송파구  1,076
25   강동구    724

In [27]:
pd.merge(new_df, academy, left_on = '구', right_on = '자치구', how = 'inner')

       구  고등학교수    학급수      학생수    학급당평균학생수     교원수   자치구  사설학원수
0    강남구     22  725.0  18514.0  550.247551  1647.0   강남구  2,361
1    강동구     14  456.0  11256.0  341.822669   994.0   강동구    724
2    강북구      7  214.0   5542.0  179.040942   466.0   강북구    206
3    강서구     23  644.0  16016.0  566.218160  1416.0   강서구    694
4    관악구     17  410.0   9676.0  401.322796   931.0   관악구    431
5    광진구      9  287.0   7641.0  240.424788   606.0   광진구    405
6    구로구     14  377.0   9634.0  354.198128   870.0   구로구    394
7    금천구      6  182.0   4292.0  143.583333   413.0   금천구    212
8    노원구     25  853.0  21313.0  621.619231  1957.0   노원구    718
9    도봉구     10  298.0   6954.0  226.237731   654.0   도봉구    297
10  동대문구     11  303.0   7349.0  263.552896   692.0  동대문구    350
11   동작구      7  237.0   6165.0  182.619192   559.0   동작구    471
12   마포구      9  229.0   6161.0  241.392647   521.0   마포구    689
13  서대문구      7  204.0   5429.0  179.723249   485.0  서대문구    348
14   서초구     11  385.0  10363.0  290.972491   892.0   서초구  1,148
15   성동구      9  245.0   5246.0  189.166265   589.0   성동구    289
16   성북구     13  348.0   8732.0  318.502530   816.0   성북구    439
17   송파구     19  618.0  15361.0  475.988532  1394.0   송파구  1,076
18   양천구     15  497.0  13025.0  388.621771  1070.0   양천구  1,008
19  영등포구      9  260.0   6145.0  212.112449   602.0  영등포구    445
20   용산구     10  262.0   5996.0  224.854597   605.0   용산구    154
21   은평구     18  514.0  13212.0  453.426132  1170.0   은평구    519
22   종로구     14  364.0   9046.0  338.434892   880.0   종로구    243
23    중구     11  287.0   7058.0  264.851323   676.0    중구    109
24   중랑구     10  279.0   6563.0  235.944925   614.0   중랑구    262