# 취약지표

### 분석 결과


-cluster2> cluster1 > cluster0

1. cluster2 : 학업 중단율이 괭장히 높고 환경적인 요소와 학생수가 작은 군집

2. cluster1 : 전체적으로 평범한 군집

3. cluster0 : 학업 중단율이 낮고 학생수, 전출학생수 , 환경적으로 우수한 군집

cluster 2 -> 10점 

cluster 1 -> 7점

cluster 0 -> 4점

## 군집별 점수 부여

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
score = pd.read_csv('data/Vulnerability_Cluster.csv')
score

,학교명,학급수,학생수,학급당평균학생수,전출학생수,경제환경,교육환경,저소득,학업중단율,cluster,자치구
0,국립국악고등학교,-1.940161,-1.165275,1.106262,-0.986639,0.147603,1.123600,-0.236796,-0.861804,0,강남구
1,개포고등학교,0.050598,-0.378385,-0.735055,-0.479179,0.147603,1.123600,-0.236796,-0.080091,0,강남구
2,경기고등학교,2.041358,1.857009,0.535784,0.874046,0.147603,1.123600,-0.236796,-0.135927,1,강남구
3,경기여자고등학교,1.775923,1.571223,0.434269,0.112857,0.147603,1.123600,-0.236796,0.143256,1,강남구
4,서울로봇고등학교,-0.745705,-1.094807,-1.254597,-0.986639,0.147603,1.123600,-0.236796,-1.029314,0,강남구
...,...,...,...,...,...,...,...,...,...,...,...
315,동국대학교사범대학부속고등학교,0.448750,0.819567,0.943731,0.282010,-1.161117,-1.017909,1.348333,-0.526784,1,동대문구
316,정화여자상업고등학교,-1.409292,-1.588082,-1.618518,-0.817486,-1.161117,-1.017909,1.348333,0.869133,2,동대문구
317,해성국제컨벤션고등학교,-0.347553,-0.409704,-0.257111,0.112857,-1.161117,-1.017909,1.348333,-0.024254,0,동대문구
318,해성여자고등학교,-0.347553,-0.260939,0.065480,-0.902062,-1.161117,-1.017909,1.348333,-0.470947,0,동대문구
319,휘경여자고등학교,0.448750,0.435909,0.263048,0.535740,-1.161117,-1.017909,1.348333,-0.247601,1,동대문구

In [3]:
score['score'] = ''

In [4]:
final_score = score[['학교명','학급수','학생수','학생수','학급당평균학생수','전출학생수','경제환경','교육환경','저소득','학업중단율','cluster']].groupby('cluster').mean()
final_score

,학급수,학생수,학생수,학급당평균학생수,전출학생수,경제환경,교육환경,저소득,학업중단율
cluster,,,,,,,,,
0,-0.427042,-0.488504,-0.488504,-0.279097,-0.363395,0.037535,-0.078457,-0.031919,-0.206395
1,0.956902,1.105741,1.105741,0.758877,0.655366,0.000760,0.184237,0.114605,-0.224964
2,-1.198151,-1.426682,-1.426682,-1.456552,-0.217761,-0.322887,-0.262675,-0.306918,2.889405

In [5]:
rank=final_score.sort_values('경제환경').index
rank

Int64Index([2, 1, 0], dtype='int64', name='cluster')

In [32]:
# rank=final_score.sort_values('학급수').index
# rank

Int64Index([2, 0, 1], dtype='int64', name='cluster')

In [6]:
for i in range(len(score)):
    if score['cluster'][i]==rank[0]:
        score['score'][i]=1
    elif score['cluster'][i]==rank[1]:
        score['score'][i]=0.7
    elif score['cluster'][i]==rank[2]:
        score['score'][i]=0.4

### 2차 점수 산출

- 1차 score에 선생1명당 학생수를 곱해주는 식으로 2차점수 측정

In [8]:
data = pd.read_csv('data/new_data5.csv')
data

,학교명,학급수,학생수,학급당평균학생수,교원수,자치구,전입학생수,전출학생수,주거환경,경제환경,사회환경,교육환경,청소년유동인구,한부모_가구수,한부모_가구원수,저소득,중간,고소득,학업중단율
0,국립국악고등학교,15.0,442.0,29.466667,47.0,강남구,0.0,5.0,6.44,5.38,6.27,5.84,45613.514389,973,2294,20.4,44.9,34.7,0.5
1,개포고등학교,30.0,643.0,21.433333,72.0,강남구,10.0,11.0,6.44,5.38,6.27,5.84,45613.514389,973,2294,20.4,44.9,34.7,1.9
2,경기고등학교,45.0,1214.0,26.977778,101.0,강남구,36.0,27.0,6.44,5.38,6.27,5.84,45613.514389,973,2294,20.4,44.9,34.7,1.8
3,경기여자고등학교,43.0,1141.0,26.534884,98.0,강남구,21.0,18.0,6.44,5.38,6.27,5.84,45613.514389,973,2294,20.4,44.9,34.7,2.3
4,서울로봇고등학교,24.0,460.0,19.166667,76.0,강남구,0.0,5.0,6.44,5.38,6.27,5.84,45613.514389,973,2294,20.4,44.9,34.7,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,동국대학교사범대학부속고등학교,33.0,949.0,28.757576,73.0,동대문구,33.0,20.0,6.10,5.16,5.86,5.55,18514.572581,1157,2709,31.6,46.3,22.0,1.1
316,정화여자상업고등학교,19.0,334.0,17.578947,43.0,동대문구,5.0,7.0,6.10,5.16,5.86,5.55,18514.572581,1157,2709,31.6,46.3,22.0,3.6
317,해성국제컨벤션고등학교,27.0,635.0,23.518519,61.0,동대문구,4.0,18.0,6.10,5.16,5.86,5.55,18514.572581,1157,2709,31.6,46.3,22.0,2.0
318,해성여자고등학교,27.0,673.0,24.925926,58.0,동대문구,16.0,6.0,6.10,5.16,5.86,5.55,18514.572581,1157,2709,31.6,46.3,22.0,1.2
319,휘경여자고등학교,33.0,851.0,25.787879,71.0,동대문구,13.0,23.0,6.10,5.16,5.86,5.55,18514.572581,1157,2709,31.6,46.3,22.0,1.6

In [9]:
new_data = data[['학교명','학생수','교원수']]
new_data

                 학교명     학생수    교원수
0           국립국악고등학교   442.0   47.0
1             개포고등학교   643.0   72.0
2             경기고등학교  1214.0  101.0
3           경기여자고등학교  1141.0   98.0
4           서울로봇고등학교   460.0   76.0
..               ...     ...    ...
315  동국대학교사범대학부속고등학교   949.0   73.0
316       정화여자상업고등학교   334.0   43.0
317      해성국제컨벤션고등학교   635.0   61.0
318         해성여자고등학교   673.0   58.0
319         휘경여자고등학교   851.0   71.0

[320 rows x 3 columns]

In [10]:
new_data['선생1인당_학생수'] = new_data['학생수'] / new_data['교원수']
new_data

                 학교명     학생수    교원수  선생1인당_학생수
0           국립국악고등학교   442.0   47.0   9.404255
1             개포고등학교   643.0   72.0   8.930556
2             경기고등학교  1214.0  101.0  12.019802
3           경기여자고등학교  1141.0   98.0  11.642857
4           서울로봇고등학교   460.0   76.0   6.052632
..               ...     ...    ...        ...
315  동국대학교사범대학부속고등학교   949.0   73.0  13.000000
316       정화여자상업고등학교   334.0   43.0   7.767442
317      해성국제컨벤션고등학교   635.0   61.0  10.409836
318         해성여자고등학교   673.0   58.0  11.603448
319         휘경여자고등학교   851.0   71.0  11.985915

[320 rows x 4 columns]

In [11]:
score2 = pd.merge(score,new_data[['학교명','선생1인당_학생수']],how='inner',on='학교명')
score2

score2['score_2nd']=''

for i in range(len(score2)):
    for k in range(4):
        rank_lis = sorted(list(set(score2[score2['cluster']==k]['선생1인당_학생수'])), reverse=True) #한 군집내의 모든 인구밀도 내림차순 정렬
        for j in range(len(rank_lis)): #내림차순 정렬한 리스트의 인덱스 순서대로 적은 점수를 차감
            if score2['선생1인당_학생수'][i] == rank_lis[j]:
                score2['score_2nd'][i] = round((score2['score'][i]-(j/len(rank_lis))*0.2)*10,2) # 점수 만점을 10점으로 만들기

score2

,학교명,학급수,학생수,학급당평균학생수,전출학생수,경제환경,교육환경,저소득,학업중단율,cluster,자치구,score,선생1인당_학생수,score_2nd
0,국립국악고등학교,-1.940161,-1.165275,1.106262,-0.986639,0.147603,1.123600,-0.236796,-0.861804,0,강남구,0.4,9.404255,2.67
1,개포고등학교,0.050598,-0.378385,-0.735055,-0.479179,0.147603,1.123600,-0.236796,-0.080091,0,강남구,0.4,8.930556,2.44
2,경기고등학교,2.041358,1.857009,0.535784,0.874046,0.147603,1.123600,-0.236796,-0.135927,1,강남구,0.7,12.019802,5.7
3,경기여자고등학교,1.775923,1.571223,0.434269,0.112857,0.147603,1.123600,-0.236796,0.143256,1,강남구,0.7,11.642857,5.56
4,서울로봇고등학교,-0.745705,-1.094807,-1.254597,-0.986639,0.147603,1.123600,-0.236796,-1.029314,0,강남구,0.4,6.052632,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,동국대학교사범대학부속고등학교,0.448750,0.819567,0.943731,0.282010,-1.161117,-1.017909,1.348333,-0.526784,1,동대문구,0.7,13.000000,6.05
316,정화여자상업고등학교,-1.409292,-1.588082,-1.618518,-0.817486,-1.161117,-1.017909,1.348333,0.869133,2,동대문구,1,7.767442,8.82
317,해성국제컨벤션고등학교,-0.347553,-0.409704,-0.257111,0.112857,-1.161117,-1.017909,1.348333,-0.024254,0,동대문구,0.4,10.409836,3.14
318,해성여자고등학교,-0.347553,-0.260939,0.065480,-0.902062,-1.161117,-1.017909,1.348333,-0.470947,0,동대문구,0.4,11.603448,3.67
319,휘경여자고등학교,0.448750,0.435909,0.263048,0.535740,-1.161117,-1.017909,1.348333,-0.247601,1,동대문구,0.7,11.985915,5.68

In [12]:
score2_final = score2[['학교명','자치구','score_2nd']]
score2_final_sorted=score2_final.sort_values(by=['score_2nd'], ascending=[False]).head(30)

In [46]:
# score2_final.to_csv('data/Vulnerability_Indicator_final.csv',index=False)

In [13]:
score2_final.to_csv('data/Vulnerability_Indicator_final1.csv',index=False)

In [14]:
score2_final

                 학교명   자치구 score_2nd
0           국립국악고등학교   강남구      2.67
1             개포고등학교   강남구      2.44
2             경기고등학교   강남구       5.7
3           경기여자고등학교   강남구      5.56
4           서울로봇고등학교   강남구      2.04
..               ...   ...       ...
315  동국대학교사범대학부속고등학교  동대문구      6.05
316       정화여자상업고등학교  동대문구      8.82
317      해성국제컨벤션고등학교  동대문구      3.14
318         해성여자고등학교  동대문구      3.67
319         휘경여자고등학교  동대문구      5.68

[320 rows x 3 columns]

In [15]:
score2_final[score2_final['자치구']=='강남구']

                 학교명  자치구 score_2nd
0           국립국악고등학교  강남구      2.67
1             개포고등학교  강남구      2.44
2             경기고등학교  강남구       5.7
3           경기여자고등학교  강남구      5.56
4           서울로봇고등학교  강남구      2.04
5            압구정고등학교  강남구      2.47
6             청담고등학교  강남구      2.15
7   단국대학교부속소프트웨어고등학교  강남구      8.55
8    단국대학교사범대학부속고등학교  강남구      6.62
9          대진디자인고등학교  강남구      2.72
10          서울세종고등학교  강남구      3.91
11        수도전기공업고등학교  강남구      2.07
12          숙명여자고등학교  강남구      6.08
13            영동고등학교  강남구      5.38
14          은광여자고등학교  강남구      3.71
15            중동고등학교  강남구      6.82
16            중산고등학교  강남구      5.54
17   중앙대학교사범대학부속고등학교  강남구      5.97
18          진선여자고등학교  강남구      6.46
19            풍문고등학교  강남구      3.49
20            현대고등학교  강남구      6.78
21            휘문고등학교  강남구      6.91

In [16]:
score2_final.drop_duplicates(['학교명'], keep=False)

                 학교명   자치구 score_2nd
0           국립국악고등학교   강남구      2.67
1             개포고등학교   강남구      2.44
2             경기고등학교   강남구       5.7
3           경기여자고등학교   강남구      5.56
4           서울로봇고등학교   강남구      2.04
..               ...   ...       ...
315  동국대학교사범대학부속고등학교  동대문구      6.05
316       정화여자상업고등학교  동대문구      8.82
317      해성국제컨벤션고등학교  동대문구      3.14
318         해성여자고등학교  동대문구      3.67
319         휘경여자고등학교  동대문구      5.68

[320 rows x 3 columns]

In [17]:
score2_final_sorted.reset_index(inplace=False,drop=True)

                 학교명   자치구 score_2nd
0         덕일전자공업고등학교   구로구      10.0
1       서울항공비즈니스고등학교   강서구      9.91
2          예림디자인고등학교   구로구      9.82
3         신진과학기술고등학교   은평구      9.73
4           서울신정고등학교   강서구      9.64
5           서울문화고등학교   도봉구      9.55
6         영락의료과학고등학교   관악구      9.45
7         광신방송예술고등학교   관악구      9.36
8           신광여자고등학교   용산구      9.27
9             중경고등학교   용산구      9.18
10        서일문화예술고등학교   종로구      9.09
11         은평메디텍고등학교   은평구       9.0
12          고명외식고등학교   성북구      8.91
13        정화여자상업고등학교  동대문구      8.82
14            한광고등학교   강서구      8.73
15          경기상업고등학교   종로구      8.64
16  단국대학교부속소프트웨어고등학교   강남구      8.55
17            도봉고등학교   도봉구      8.45
18          서울금융고등학교   양천구      8.36
19          서울전자고등학교   서초구      8.27
20          성수공업고등학교   성동구      8.18
21          휘경공업고등학교  동대문구      8.09
22          선화예술고등학교   광진구       7.0
23          서울예술고등학교   종로구      6.98
24        서울공연예술고등학교   구로구      6.96
25            신일고등학교   강북구      6.95
26           한가람고등학교   양천구      6.93
27            휘문고등학교   강남구      6.91
28            장훈고등학교  영등포구      6.89
29            배재고등학교   강동구      6.87

In [18]:
score2_final_sorted

                  학교명   자치구 score_2nd
150        덕일전자공업고등학교   구로구      10.0
82       서울항공비즈니스고등학교   강서구      9.91
153         예림디자인고등학교   구로구      9.82
303        신진과학기술고등학교   은평구      9.73
83           서울신정고등학교   강서구      9.64
218          서울문화고등학교   도봉구      9.55
200        영락의료과학고등학교   관악구      9.45
190        광신방송예술고등학교   관악구      9.36
278          신광여자고등학교   용산구      9.27
273            중경고등학교   용산구      9.18
141        서일문화예술고등학교   종로구      9.09
306         은평메디텍고등학교   은평구       9.0
34           고명외식고등학교   성북구      8.91
316        정화여자상업고등학교  동대문구      8.82
86             한광고등학교   강서구      8.73
129          경기상업고등학교   종로구      8.64
7    단국대학교부속소프트웨어고등학교   강남구      8.55
217            도봉고등학교   도봉구      8.45
202          서울금융고등학교   양천구      8.36
252          서울전자고등학교   서초구      8.27
164          성수공업고등학교   성동구      8.18
310          휘경공업고등학교  동대문구      8.09
183          선화예술고등학교   광진구       7.0
140          서울예술고등학교   종로구      6.98
152        서울공연예술고등학교   구로구      6.96
247            신일고등학교   강북구      6.95
215           한가람고등학교   양천구      6.93
21             휘문고등학교   강남구      6.91
174            장훈고등학교  영등포구      6.89
97             배재고등학교   강동구      6.87